
.DS_Store
*.o
transpile
*.a
*.dylib
*.pc
*.exe
lambda-parser/test-lambda-parser
lambda-parser/tree-sitter-lambda/src/grammar.json
hello
hello-world.c
output.pgm
window
sdl_app
layout_html
sample_lexbor.c
html_window
output.png
test/test_lexbor
view_tree.txt
window3
log.txt
_transpiled.c
node_modules
lambda/vsce/lambda-highlighter-0.0.1.vsix
lambda/vsce/dist/extension.js
.gitignore
lambda/vsce/dist/extension.js.map
windows-deps/lib
windows-deps/src/gmp-6.2.1
windows-deps/src/zlog
windows-deps/src/lexbor
windows-deps/include/lexbor
windows-deps/src/**.xz
windows-deps/src/**.bz2