/* Computer Modern Unicode fonts - combined for layout engine compatibility */
/* This file inlines all @font-face rules since the CSS engine doesn't follow @import */

/* Computer Modern Serif */
@font-face {
    font-family: 'Computer Modern Serif';
    src: url('Serif/cmunrm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('Serif/cmunbx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('Serif/cmunti.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('Serif/cmunbi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* Computer Modern Serif Slanted */
@font-face {
    font-family: 'Computer Modern Serif Slanted';
    src: url('Serif%20Slanted/cmunsl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif Slanted';
    src: url('Serif%20Slanted/cmunbl.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Computer Modern Sans */
@font-face {
    font-family: 'Computer Modern Sans';
    src: url('Sans/cmunss.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Sans';
    src: url('Sans/cmunsx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Sans';
    src: url('Sans/cmunsi.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Sans';
    src: url('Sans/cmunso.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

/* Computer Modern Typewriter */
@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('Typewriter/cmuntt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('Typewriter/cmuntb.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('Typewriter/cmunit.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Computer Modern Typewriter';
    src: url('Typewriter/cmuntx.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* Computer Modern Typewriter Slanted */
@font-face {
    font-family: 'Computer Modern Typewriter Slanted';
    src: url('Typewriter%20Slanted/cmunst.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Typewriter Slanted';
    src: url('Typewriter%20Slanted/cmunsto.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}
