/* Lambda Math CSS - MathLive compatible
 * Use this stylesheet for rendering LaTeX math formulas as HTML
 *
 * Compatible with the HTML output from:
 *   ./lambda.exe math "formula" --html
 */

.ML__latex {
    display: inline-block;
    white-space: nowrap;
    font-family: "CMU Serif", "Latin Modern Math", "STIX Two Math", "Times New Roman", serif;
}

.ML__strut {
    display: inline-block;
    width: 0;
}

.ML__strut.ML__bottom {
    /* bottom strut extends below baseline */
}

/* Horizontal and vertical lists */
.ML__hlist {
    display: inline-block;
}

.ML__vlist {
    display: inline-block;
}

/* Fractions */
.ML__mfrac {
    display: inline-block;
    vertical-align: middle;
}

.ML__numer, .ML__denom {
    display: block;
    text-align: center;
}

.ML__frac-line {
    display: block;
    width: 100%;
    border-bottom: 1px solid currentColor;
    margin: 0.1em 0;
}

/* Square roots */
.ML__sqrt {
    display: inline-flex;
    align-items: stretch;
}

.ML__sqrt-sign {
    font-size: 120%;
}

.ML__sqrt-body {
    border-top: 1px solid currentColor;
    padding: 0 0.1em;
}

.ML__sqrt-index {
    font-size: 70%;
    align-self: flex-start;
    margin-right: -0.3em;
}

/* Subscripts and superscripts */
.ML__supsub {
    display: inline-block;
}

.ML__sup {
    font-size: 70%;
    vertical-align: super;
}

.ML__sub {
    font-size: 70%;
    vertical-align: sub;
}

/* Delimiters */
.ML__delim {
    display: inline-flex;
    align-items: center;
}

/* Accents */
.ML__accent {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.ML__accent-char {
    line-height: 0.5;
}

/* Rules (lines) */
.ML__rule {
    display: inline-block;
    background: currentColor;
}

/* Atom types with spacing */
.ML__ord { }

.ML__op { }

.ML__bin {
    margin: 0 0.22em;
}

.ML__rel {
    margin: 0 0.28em;
}

.ML__open { }

.ML__close { }

.ML__punct {
    margin-right: 0.17em;
}

.ML__inner { }

/* Large operators (sum, integral, etc.) */
.ML__largeop {
    font-size: 150%;
}

/* Matrix/array environments */
.ML__matrix {
    display: inline-table;
    border-collapse: collapse;
}

.ML__matrix-row {
    display: table-row;
}

.ML__matrix-cell {
    display: table-cell;
    padding: 0.2em 0.5em;
    text-align: center;
}

/* Text in math */
.ML__text {
    font-family: serif;
    font-style: normal;
}

/* Spacing commands */
.ML__quad {
    width: 1em;
    display: inline-block;
}

.ML__qquad {
    width: 2em;
    display: inline-block;
}

/* Color support */
.ML__color-red { color: red; }
.ML__color-blue { color: blue; }
.ML__color-green { color: green; }
